a.hintLink {
	position: relative;
}

a.hintLink:hover {
	border-bottom: 1px dashed #a52a2a;
	text-decoration: none;
}

a.hintLink:after {
	content: '?';
	position: relative;
	bottom: 0px;
	right: 0;
	font-weight: bold;
	background-color: #FFF;
	padding: 1px;
	line-height: 100%;
	font-size: 9px;
	margin-right: 0px;
	display: inline-block;
	vertical-align: sub;
	color: #0645AD;
	opacity: 0.6;
}
a.hintLink.noIcon:after {
	display: none;
}

a.hintLink:hover:after {
	color: #a52a2a;
	opacity: 1;
}

div.hintDescr {
	position: absolute;
	left: 0;
	top: 0;
	width: 300px;
	display: block;
	background-color: #FFF;
	z-index: 10000;
	border: 1px #AAA solid;
	padding: 5px 6px;
	text-align: justify;
	font-size: 11px;
	color: #000;
	line-height: 15px;
	top: 2px;
	right: 3px;
	box-shadow: 2px 2px 2px #666;
}

div.hintDescr .content:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

div.hintDescr .image {
	float: right;
	margin-left: 7px;
	padding: 1px;
	border: 1px #BBB solid;
}
div.hintDescr .image img {
	max-width: 93px;
}

div.hintDescr div.more {
	margin-top: 2px;
	text-align: right;
}

div.hintDescr div.more a {
	color: #0645AD;
}

div.hintDescr div.more a.mark {
	margin-right: 10px;
	padding-left: 12px;
	cursor: pointer;
	background: url('chrome-extension://__MSG_@@extension_id__/img/star.png') no-repeat 0 2px;
}

div.hintDescr div.more a.mark.inactive {
	color: #777;
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/star_inactive.png')
}

div.hintDescr div.more a.read {
	padding-left: 12px;
	background: url('chrome-extension://__MSG_@@extension_id__/img/read.png') no-repeat 0 2px;
}

div.hintDescr div.more a:visited {
	color: #0645AD;
}

div.hintDescr br:first-child {
	display: none;
}

a.image {
	position: relative;
	display: inline-block;
}

a.image div.hintZoom {
	position: absolute;
	top: 2px;
	right: 2px;
	height: 16px !important;
	width: 16px !important;
	border: 1px #FFF solid;
	opacity: 0.2;
	background: url('chrome-extension://__MSG_@@extension_id__/img/zoom.gif') no-repeat 0 0;
}

a.image:hover div.hintZoom {
	opacity: 1;
}

#hintOverlay {
	text-align: center;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

#hintOverlay .hintImgCont {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #F9F9F9;
	border: 1px solid #CCC;
	padding: 5px;
	display: inline-block;
}

#hintOverlay .hintImgCont img {
	border: 1px solid #CCC;
}

div.hintDescr div.more a.mark {background: url(' + communicator.getResource('img/star.png') + ') no-repeat 0 2px;}