<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="popup.css" rel="stylesheet">
</head>
<body>

	<!-- PAGES CONTAINER -->
	<div id="wiki"></div>

	<!-- HOME TEMPLATE -->
	<script type="text/html" class="tpl" id="tpl-home">
		<header>
			<h2 class="left">Marked articles</h2>
			<span class="button settings right" title="Settings" data-action="settings">
				<img src="img/settings.png" alt="">
			</span>
			<div class="clr"></div>
		</header>
		<section>
			<ul class="featured-list">
				{% for article in featured %}
				<li class="featured">
					<a href="javascript:void(0)" data-action="open|{{article.href}}">{{article.title}}</a>
					<span data-action="remove|featured|{{article.uid}}">&times;</span>
				</li>
				{% else %}
				<li class="no-content">No featured articles.</li>
				{% endfor %}
			</ul>

			<p class="paging">
				<span class="prev">&laquo; prev</span>
				<span class="next">next &raquo;</span>
			</p>

			<div class="buttons">
				<input type="button" value="Close" data-action="close">
			</div>
		</section>
	</script>
	<!--/HOME TEMPLATE -->

	<!-- SETTINGS TEMPLATE -->
	<div class="tpl" id="tpl-settings">
		<header>
			<h2 class="left">Settings</h2>
			<span class="button featured right" title="Home" data-action="home">
				<img src="img/home.png" width="19" alt="">
			</span>
			<div class="clr"></div>
		</header>
		<section>

			<h4>Image zooming</h4>
			<p class="option">
                {% if zoomEnabled %}
                <input type="checkbox" id="image_zooming" class="left" checked>
                {% else %}
                <input type="checkbox" id="image_zooming" class="left">
                {% endif %}
				<label for="image_zooming" class="left">Enable image zooming</label>
				<div class="clr"></div>
			</p>

            <h4>Question makrs</h4>
            <p class="option">
                {% if questionMarks %}
                <input type="checkbox" id="question-marks" class="left" checked>
                {% else %}
                <input type="checkbox" id="question-marks" class="left">
                {% endif %}
                <label for="question-marks" class="left">Add question marks to all hover-able links.</label>
                <div class="clr"></div>
            </p>

			<div class="buttons">
				<input type="button" value="Save" data-action="settings|save">
				<input type="button" value="Close" data-action="close">
			</div>

		</section>
	</div>
	<!--/SETTINGS TEMPLATE -->

	<!-- NEWS TEMPLATE -->
	<div class="tpl" id="tpl-news">
		<header>
			<h2 class="left">New in version {{ version }}</h2>
			<span class="button featured right" title="Close news" data-action="closeNews">
				<img src="img/home.png" width="19" alt="">
			</span>
			<div class="clr"></div>
		</header>
		<section>
			<ul class="news">
				<li>Extension now works on HTTPS pages.</li>
				<li>Versioning format changed.</li>
			</ul>
		</section>
	</div>
	<!--/NEWS TEMPLATE -->

	<script src="jquery-1.6.3.min.js"></script>
	<script src="jquery.csspages.js"></script>
	<script src="ashe.js"></script>
	<script src="popup.js"></script>

</body>
</html>