.left {float: left;}
.right {float: right;}
.clr {clear: both;}
.tpl {display: none;}

body {
	margin: 8px;
}

* {font-family: Verdana;}
a, input {outline: none !important;}

#wiki {
	position: relative;
	width: 300px;
	padding: 0 15px 13px;
	border: 1px #769554 solid;
	font: normal 12px Verdana;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 3px #DDD;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.49, rgb(255, 255, 255)), color-stop(1, rgb(240, 240, 240)));
	height: auto;
	-webkit-transition: height .5s ease; 
}

header h2 {
	color: #222;
	font-size: 20px;
	padding: 0;
	margin: 10px 0 10px;
	position: relative;
}

header .button {
	height: 20px;
	width: 20px;
	margin: 10px 0 0 0;
	cursor: pointer;
	padding: 3px 3px 2px 4px;
	border: 1px solid transparent;
	border-radius: 4px;
	opacity: 0.8;
}

header .button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.49, rgb(255, 255, 255)), color-stop(1, rgb(240, 240, 240)));
	border: 1px #AAA solid;
	opacity: 1;
}

section ul, section li {
	padding: 0;
	margin: 0;
	list-style: none;
}

section li {
	padding-bottom: 5px;
	font-size: 12px;
}

section li:last-child {
	padding-bottom: 0;
}

section li.no-content {
	color: #444;
}

section .featured {
	display: none;
}
section .featured.current {
	display: block;
}
section .featured span {
	display: inline-block;
	visibility: hidden;
	opacity: 0.6;
	cursor: pointer;
	color: #a52a2a;
	padding: 0px 2px 1px 1px;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: -99px;
	position: relative;
	bottom: -1px;
}

section .featured:hover span {
	visibility: visible;
}

section .featured span:hover {
	opacity: 1;
}

section h4 {
	color: #333;
	margin: 0;
	text-decoration: underline;
	font-size: 13px;
}

section .option {
	margin-top: 7px;
}

section .option input {
	margin: 0;
	vertical-align: baseline;
}

section label {
	cursor: pointer;
	margin-left: 5px;
}

section .buttons {
	text-align: right;
}

section .buttons input {
	font-family: Arial;
	font-weight: bold;
	color: #FFF;
	padding: 1px 10px 2px 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px #537233;
	border-width: 1px;
	border-style: solid;
	border-color: #88c14a #7db442 #699c33 #699c33;
	border-radius: 2px;
	margin: 0;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.23, rgb(134, 192, 72)), color-stop(0.65, rgb(160, 208, 106)))
}

section .buttons input:active {
	text-shadow: 1px 1px 2px #70aa30;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.23, rgb(134, 192, 72)), color-stop(1, rgb(160, 208, 106)))
}

section .buttons input:last-child {
	margin-left: 5px;
}

section p.paging {
	text-align: left;
}

section p.paging span {
	text-decoration: none;
	color: #333;
	cursor: pointer;
}
section p.paging span.btn-disabled {
	display: none;
}

section p.paging span:hover {
	color: #111;
	text-decoration: underline;
}

section p.paging span:first-child {
	margin-right: 5px;
}

section ul.news li {
	background: url(img/tick.png) no-repeat 0 0;
	padding-left: 20px;
	margin-bottom: 6px;
}