<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="popup.css" />
	<script type="text/javascript" src="popup.js"></script>
	<script type="text/javascript" src="templ.js"></script>
	<script type="text/javascript">
		var popup;
		window.onload = function() {
			popup = new POPUP.Controller();
			popup.init();
		};
	</script>
</head>
<body>

	<!-- PAGES CONTAINER -->
	<div id="wiki"></div>

	<!-- HOME TEMPLATE -->
	<div class="tpl" id="tpl_home">
		<header>
			<h2 class="left">Featured articles</h2>
			<span class="button right" title="Settings" onclick="popup.page('settings')">
				<img src="img/settings.png" alt="">
			</span>
			<div class="clr"></div>
		</header>
		<section>
			<ul>
				{% for link in links %}
				<li class="featured">
					<a href="javascript:void(0)" onclick="chrome.tabs.create({url: '{{ link.href }}'})">{{ link.title }}</a>
					<span onclick=""><img src="img/trash.png"></span>
				</li>
				{% else %}
				<li class="no-content">No featured articles.</li>
				{% endfor %}
			</ul>

			<p class="paging">
				{% if paging.prev %}
				<a href="javascript:void(0)" onclick="popup.page('home', '{{ paging.prev }}')">&laquo; prev</a>
				{% endif %}
				{% if paging.next %}
				<a href="javascript:void(0)" onclick="popup.page('home', '{{ paging.next }}')">next &raquo;</a>
				{% endif %}
			</p>

			{% if parseInt(hintsHistory) %}
			<h2>Hints history</h2>
			<ul>
				{% for hint in hints %}
				<li><a href="javascript:void(0)" onclick="chrome.tabs.create({url: '{{ hint.href }}'})">{{ hint.title }}</a></li>
				{% else %}
				<li class="no-content">History is empty.</li>
				{% endfor %}
			</ul>


			{% endif %}

			<div class="buttons">
				<input type="button" value="Close" onclick="popup.closePopup()">
			</div>
		</section>
	</div>
	<!--/HOME TEMPLATE -->

	<!-- SETTINGS TEMPLATE -->
	<div class="tpl" id="tpl_settings">
		<header>
			<h2 class="left">Settings</h2>
			<span class="button featured right" title="Home" onclick="popup.page('home')">
				<img src="img/home.png" width="19" alt="">
			</span>
			<div class="clr"></div>
		</header>
		<section>

			<h4>Image zooming</h4>
			<p class="option">
				{% if parseInt(zoomEnabled) %}
				<input type="checkbox" id="image_zooming" class="left" checked>
				{% else %}
				<input type="checkbox" id="image_zooming" class="left">
				{% endif %}
				<label for="image_zooming" class="left">Enable image zooming</label>
				<div class="clr"></div>
			</p>

			<h4>Hints history</h4>
			<p class="option">
				{% if parseInt(hintsHistoryEnabled) %}
				<input type="checkbox" id="hints_history" class="left" checked>
				{% else %}
				<input type="checkbox" id="hints_history" class="left">
				{% endif %}
				<label for="hints_history">Enable hints history</label>
				<div class="clr"></div>
			</p>

			<h4>Recursive hints</h4>
			<p class="option">
				{% if parseInt(recursiveHints) %}
				<input type="checkbox" id="recursive_hints" class="left" checked>
				{% else %}
				<input type="checkbox" id="recursive_hints" class="left">
				{% endif %}
				<label for="recursive_hints">Enable hints within another hints</label>
			</p>

			<div class="buttons">
				<input type="button" value="Save" onclick="popup.page('settings', {
					zoomEnabled: document.getElementById('image_zooming').checked + 0,
					hintsHistoryEnabled: document.getElementById('hints_history').checked + 0,
					recursiveHints: document.getElementById('recursive_hints').checked + 0
				})">
				<input type="button" value="Close" onclick="popup.closePopup()">
			</div>

		</section>
	</div>
	<!--/SETTINGS TEMPLATE -->

	<!-- NEWS TEMPLATE -->
	<div class="tpl" id="tpl_news">
		<header>
			<h2 class="left">New in version {{ version }}</h2>
			<span class="button featured right" title="Close news" onclick="popup.page('newsClose')">
				<img src="img/home.png" width="19" alt="">
			</span>
			<div class="clr"></div>
		</header>
		<section>
			<ul class="news">
				<li>Hints histiry added - history of articles you interested in.</li>
				<li>Marked articles list added - articles you would like to read later.</li>
				<li>Useful feature - hints within another hints!</li>
				<li>Settigs section simplified. Only important settings user realy need left.</li>
				<li>User interface improvements.</li>
			</ul>
		</section>
	</div>
	<!--/NEWS TEMPLATE -->

</body>
</html>